<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.industrydemo.news">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice" />
        </intent>
    </queries>

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Main_AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".page.activity.VideoActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.huawei.industrydemo.news"
                    android:path="/videoDetail"
                    android:scheme="pushscheme" />
            </intent-filter>
        </activity>
        <activity android:name=".page.activity.BrowsingHistoryActivity" />
        <activity android:name=".page.activity.FavoriteActivity" />
        <activity android:name=".page.activity.FollowActivity" />
        <activity android:name=".page.activity.MemberActivity" />
        <activity android:name=".page.activity.SearchResultActivity" />
        <activity android:name=".page.activity.SearchActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="locale|layoutDirection"/>
        <activity
            android:name=".page.SplashActivity"
            android:theme="@style/Main_AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".page.activity.news.NewsViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.huawei.industrydemo.news"
                    android:path="/newsDetail"
                    android:scheme="pushscheme" />
            </intent-filter>
        </activity>
        <activity android:name=".page.activity.PrivacyActivity" />
        <activity android:name=".page.activity.FeedbackActivity" />
        <activity
            android:name=".page.activity.news.NewsPublishActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".page.activity.news.EditActivity"
            android:launchMode="singleTop" />
        <activity android:name=".page.activity.WebViewActivity" />
        <activity
            android:name=".page.activity.news.NewsCoverActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".page.activity.ImageSuperActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".page.activity.MineNewsActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <service
            android:name=".service.PushService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.LocationService" />

        <meta-data
            android:name="push_kit_auto_init_enabled"
            android:value="true" />
        <meta-data
                android:name="com.huawei.hms.ml.DEPENDENCY"
                android:value="imagesuperresolution"/>
    </application>

</manifest>